@import url('https://fonts.googleapis.com/css?family=Roboto');
.roboto {
    font-family: Roboto, sans-serif;
    font-size: 5em;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: #377562;
    font-weight: 500;
}

.robotosmolish {
    font-family: Roboto, sans-serif;
    font-size: 1.75em;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: #377562;
}

.robotosmol {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 0.05em;
    color: #377562;
}

.button {
    color: #000000;
    border: #292929 solid 1px;
    padding: 10px;
    background-color: #74b6a0;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.button:hover {
    color: #74b6a0;
    background-color: #2f5347;
    cursor:pointer;
}

.circular {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
  }

.background {
    border-style: solid;
    border-width: 1px;
    /*width: 90%;
    height: 90%;*/
}

#main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

/*#mainbg {
    background-color: rgba(0, 0, 0, 0.8);
    width: 60%;
    margin-left: 20%;
}

body {
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 15px,
        #98b6b6 10px,
        #98b6b6 30px
      );
    background-size: 200%;
}*/
